<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="justify-content-center">
            <div class="col-md-12 text-center">
                <div class="display-1 d-block"><b>404</b></div>
                <div class="mb-4 lead">The page you are looking for was not found.</div>
                <a href="/gallery" class="nav-link mb-5">Back to Home</a>
            </div>
        </div>
    </div>
</div>