<div class="row mt-5">
    <div class="col-md-4 m-auto">
        <div class="card card-body">
            <form action="/password/<%= image.id %> " method="POST">
            
            <%- include('./partials/errors.ejs') %> 
            <div class="mb-3 row justify-content-center mt-5">
                <div class="col-sm-8">
                    <small>enter image password*</small>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="mb-5 row justify-content-center mt-4">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary form-control">Allow</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>