<div class="row mt-5">
    <div class="col-md-7 m-auto">
        <div class="card card-body">
            <form action="/register" method="POST">

            <% if(typeof errors != undefined) { %>
                <% errors.map(error => { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= error.message %> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% }); %> 
            <% }%> 
            <div class="row justify-content-center mt-5">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-sm-10 ">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-sm-10 ">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confrim Password">
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary form-control">Sign In</button>
                </div>
            </div>
            <div class="row justify-content-center mt-3 mb-4">
                <div class="col-sm-10">
                    <p class="lead">Have an Account?<a href="/login" class="mb-5">Login</a></p>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>